body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #c9c9c9;
}

main {
  width: 100%;
  height: 100%;
}

#title {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

#information {
  min-width: 300px;
  width: 50vw;
  height: 80px;
  max-width: 60vh;
  display: grid;

  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#gameBoard {
  min-width: 300px;
  min-height: 300px;
  width: 50vw;
  height: 50vw;
  max-width: 60vh;
  max-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.boardPos {
  border: 2px solid black;
  background-color: #dbdbdb;
}

svg {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

#restartBtnContainer {
  display: flex;
  justify-content: center;
  padding: 5%;
}

#restartBtn {
  color: black;
  font-size: 50px;
  background-color: #dbdbdb;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#restartBtn:hover {
  transform: scale(1.1);
}

.grow {
  transform: scale(1.1);
}

text {
  transition: all 0.3s ease-in-out;
}
